Source: ros-kinetic-feed-the-troll
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-termcolor, ros-kinetic-catkin, ros-kinetic-dynamic-reconfigure, ros-kinetic-feed-the-troll-msgs, ros-kinetic-rocon-console, ros-kinetic-rocon-python-utils, ros-kinetic-rosgraph, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-unique-id, ros-kinetic-uuid-msgs
Homepage: http://www.ros.org/wiki/feed_the_troll
Standards-Version: 3.9.2

Package: ros-kinetic-feed-the-troll
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-termcolor, ros-kinetic-dynamic-reconfigure, ros-kinetic-feed-the-troll-msgs, ros-kinetic-rocon-console, ros-kinetic-rocon-python-utils, ros-kinetic-rosgraph, ros-kinetic-rospy, ros-kinetic-unique-id, ros-kinetic-uuid-msgs
Description: Mechanisms for loading a ros node at runtime.
